@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.Topic{
    padding: 12px;
    padding-top: 25px;

    .TopicContainer{
        display: flex;
        flex-direction: row;
        width: 80%;
        align-items: center;

        .TopicLabel{
            font-size: 1.3em;
            color: #fff;
            font-weight: 100;
            align-self: center;
        }

        .TopicDropDown{
            margin-left: 5px;
        }
    }
}