@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.DaysOfWeek{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #ccc;
    font-size: 2.0em;
    font-weight: 500;
    box-sizing: border-box;
    align-items: center;
    height: 8%;
}